<template>
  <div class="hello">
    <div v-show="state === 0">
      <p>Cargando ...</p>
    </div>
    <div v-show="state === 1">
      <h3>{{ question }}</h3>
      <form v-on:submit.prevent="sendData">
        <label v-for="ch in choices" v-bind:key="ch.id" >
          <input type="radio" name="choice" v-model="choice" v-bind:value="ch.id"> {{ ch.value }}
        </label>
        <br>
        <button type="submit">Enviar</button>
      </form>
    </div>
    <div v-show="state === 2">
      Gracias por responder <span>🙂</span>
    </div>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      state: 0,
      question: '',
      choices: [],
      choice: '',
    }
  },
  mounted() {
    axios
      .get('http://www.mocky.io/v2/5cedb15d320000165e0c13c2?mocky-delay=1000ms')
      .then(res => {
        const { question, choices } = res.data;
        this.question = question;
        this.choices = choices;
        this.state = 1;
      })
  },
  methods: {
    sendData: function() {
      const choice = this.choice;
      this.state = 0;
      axios.post('http://www.mocky.io/v2/5cedb15d320000165e0c13c2?mocky-delay=1000ms', { choice })
      .then(res => {
        this.state = 2;
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
