<template>
  <div id="app">
    <img alt="Vue logo" v-bind:src="images">
    <HelloWorld/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'

export default {
  props: ['imageUrl'],
  name: 'app',
  components: {
    HelloWorld
  },
  computed: {
    images: function() {
      return `${this.imageUrl}/logo.png`
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  width: 400px;
  height: 400px;
  border:1px solid black;
}
</style>
